<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Articles Page</h1>
    <hr />

    <div style="background-color: orange; color: black; padding: 10px;">
        <% for( let art of articles ) { %>
            <h2>
                <h3>
                    <%= art.title %>
                </h3>
                <p>
                    <%= art.body %>
                </p>
            </h2>
            <% } %>
    </div>
</body>

</html>