<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> Hello <%=name%>
    </h1>

    <p>the numbers are : <%= numbers %>
    </p>

    <% if (name==="youssef" ){ %>
        <div>
            <h1> you are the best </h1>
        </div>
        <% } %>
</body>

</html>